@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

html,
body{
    height: 100vh;
}

:root {
    --green: #00DF5E;
    --gray: #828282;
    --gray-200: #333333;
    --gray-400: #212121;
    --dark: #171717;
    --white: #FFFFFF;
}

body {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;

    background: var(--dark);
    color: var(--white);

    scroll-behavior: smooth;
    
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/****** HEADER ***/

header  .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    color: #ffffff;
    
    margin-top: 1em;
}

header .container ul {
    display: flex;
    justify-content: end;
    width: 31em;
    gap: 2rem;
    font-weight: 400;  

}

header .container ul li {
    color: var(--gray);

    
}

header .container ul li:hover {
   color: var(--green);
   transition: .7s;
}

#btn-mobile {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    display: none;
}

#btn-mobile .line1,
#btn-mobile .line2,
#btn-mobile .line3 {
    
    width: 21px;
    border: 1px solid white;
}

/**** MAIN ***/

main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 3rem;

    color: var(--white);
}

main .container h2 {
    font-size: 3em;
    font-weight: 700;
    width: 65%;
}

main .container p {
    font-size: 2.2em;
    font-weight: 500;
    
    color: var(--gray);
}

main .container .hello {
    display: flex;
    flex-direction: column;
    
   justify-content: center;
     
    gap: 1em;
}


main .container .buttons {
    display: flex;
    gap: 1em;
}   

main .container .buttons button {
   width: 9em;
   height: 3em;
   border-radius: .5rem;

   cursor: pointer;
   border: none;
}

main .container .buttons .donwload {
    background: var(--green);
}

main .container .buttons .donwload:hover {
    background: #04ff6d;
    transition: .7s;
}

main .container .buttons .contact {
    background: var(--dark);
    color: var(--white);
    border: .7px solid var(--green);
}

main .container .buttons .contact:hover {
    border: .7px solid #04ff6d;
    transition: .7s;
} 

main .container .image svg {
     width: 100%;
}

/**** ABOUT ME SECTION ****/

#about .container {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 3em;
    margin: 0 auto;

    margin-top: 4rem;
}

#about .container header h3 {
    font-size: 3em;
}

#about .description {
    display: flex;
    justify-content: center;

    font-size: 2.2em;
}

.container p {
    width: 65%;
    
    color: var(--gray);
}

.info {
    display: flex;
    justify-content: space-evenly;

    gap: 2em;
}

.info div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.info div p {
    width: 100%;
    font-weight: 700;
}

.info div .title {
    font-size: 1.2em;
   
    color: var(--white);
}

.info div .answer {
    font-size: 1.1em;
}

/** PROJECTS SECTION **/

#projects {
    margin-top: 4rem;
}

#projects .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4em;
}

#projects header h3 {
    font-size: 3em;
}

#projects .container .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    width: 70%;
    margin: 0 auto;
}

#projects .container .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    gap: 1rem;
 
    margin-bottom: 3em;
}

#projects .container .project .image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: var(--gray-200);

    height: 90px;
    width: 80%;

    font-size: 1.4em;
    font-weight: 700;
}

#projects .container .project .projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#projects .container .project .projectDescription .title {
    color: var(--white);
    font-size: 1.2em;
    font-weight: 700;
}

#projects .container .project .projectDescription .tecnology {
font-size: 1.1em;
font-weight: 500;
}

/*** SERVICES SECTION ****/

#services .container {
  
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   margin-top: 4em;
  
}

#services .container header h3 {
    font-size: 3em;
    font-weight: 700;
    color: var(--white);
}

#services .servicesContainer {
    display: flex;
    justify-content: space-between;
  
   width: 30em;
   margin: 3em auto;

   font-size: 1.2em;
   font-weight: 700;

}

#services .servicesContainer p {
    width: 100%;
}

/** SKILLS SECTION **/

#skills .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2em;
    font-size: 3em;
}

#skills .container .skills {
       display: flex;
       justify-content: center;
       align-items: center;
      
       margin-top: 2em;
       gap: 2em;
       margin-bottom: 2em;
       width: 90%;
}

hr {
    display: none;
}

/** RESPONSIVE **/

@media screen and (max-width: 770px) {

/* HEADER */

    header .container ul {
       width: 52em;
    }

/* MAIN */

    main .container .image svg {
      display: none;
     }
 
     main .hello {
         margin: 0 auto;
         text-align: center;
         align-items: center;
     }

/* ABOUT SECTION */

     #about .info div {
         width: 32%;
     }

/* SERVICES SECTION */     

     #services ,.servicesContainer {
        flex-direction: column;
        gap: 4em;
    }
 
    hr {
        display: block;
    }
 
 }

 @media screen and (max-width: 769px) {
   
/* HEADER */   

    header .container ul {
        display: none;
   }

   #btn-mobile {
    display: flex;
    position: absolute;
    right: 39px;
    z-index: 2;

    transition-duration: 4s;
   }

   #nav.active #btn-mobile {
    position: fixed;
   }

     #nav.active #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5em;
    height: 100vh;
    width: 100vw;
    
    position: fixed;
    left: 0;
    top: 0;

    z-index: 1;

    background: var(--dark);

    animation: menu .5s;

    overflow-y: hidden;
   }

     
.line1,
.line2,
.line3 {
    transition-duration: .5s;
    
}

   #nav.active #btn-mobile .line1 {
      transform: rotate(45deg) translate(7px, 7px);

   }
   #nav.active #btn-mobile .line2 {
    opacity: 0;
   }

   #nav.active #btn-mobile .line3 {
    transform: rotate(-45deg) translate(0px, 0px);
   }


    
@keyframes menu {
    from {
        height: 0vh;
    }
   
    100% {
        height: 100vh;
    }
 }



}

/** ABOUT SECTION **/

.info {
    align-items: center;
    justify-content: center;
   }

   
 

 @media screen  and (min-width:320px) and (max-width: 601px) {
 
 /* SERVICES SECTION */
   
    #services .servicesContainer {
        width: 21em;
    }

/* ABOUT SECTION */    

    .info {
      flex-direction: column;
    }

/* SKILLS SECTION */    

    #skills .container .skills {
        gap: 1em;
    }

    #skills svg {
        width: 10;
    }
 }